.banner-geek {
  background-image: url('../src/images/niveau-geek/header.jpg');
  background-size: 100%;
  background-position: 0px -40px;
  background-repeat: no-repeat;
  height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 200px;
    font-family: sans-serif;
    color: transparent;
    margin-top: 250px;
    margin-left: 200px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.5px;
  }
}

.geek-container {
  max-width: 1200px;
  margin: auto;

  &-avantages {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;

    img {
      height: 40px;
      width: 40px;
      margin-right: 25px;
    }

    .avantages {
      display: flex;
      flex-direction: row;

      div {

        span {
          font-family: 'Oswald';
          font-size: 20px;
          font-weight: 600;
        }

        p {
          margin-top: 20px;
          width: 310px;
          font-size: 16px;
          line-height: 30px;
          font-family: sans-serif;
          color: gray;
        }
      }
    }
  }

  .register-container {
    margin-top: 100px;
    padding-bottom: 150px;

    .register {
      display: flex;
      align-items: center;

      img:nth-child(1){
        width: 400px;
        margin-right: 20px;
      }

      img:nth-child(2){
        width: 250px;
        margin-right: 40px;
      }

      div {
        span {
          font-size: 45px;
          font-family: 'Oswald';
          font-weight: bold;
        }

        p {
          margin-top: 20px;
          font-family: sans-serif;
          color: gray;
          line-height: 30px;
        }
      }
    }

    button {
      display: flex;
      margin: auto;
      margin-top: 100px;
      background-color: #FF675B;
      border: none;
      padding: 14px 20px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #ff4b3c;
      }
    }
  }

}

.nolife-container {
  max-width: 1200px;
  margin: auto;

  &-avantages {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;

    .row {
      display: flex;
      flex-direction: row;
    }

    .row:nth-child(2) {
      margin-top: 50px;
    }

    img {
      height: 40px;
      width: 40px;
      margin-right: 25px;
    }

    .avantages {
      display: flex;
      flex-direction: row;

      div {

        span {
          font-family: 'Oswald';
          font-size: 20px;
          font-weight: 600;
        }

        p {
          margin-top: 20px;
          width: 310px;
          font-size: 16px;
          line-height: 30px;
          font-family: sans-serif;
          color: gray;
        }
      }
    }
  }

  .register-container {
    margin-top: 100px;
    padding-bottom: 150px;

    .register {
      display: flex;
      align-items: center;

      img:nth-child(1){
        width: 400px;
        margin-right: 20px;
      }

      img:nth-child(2){
        width: 250px;
        margin-right: 40px;
      }

      div {
        span {
          font-size: 45px;
          font-family: 'Oswald';
          font-weight: bold;
        }

        p {
          margin-top: 20px;
          font-family: sans-serif;
          color: gray;
          line-height: 30px;
        }
      }
    }

    button {
      display: flex;
      margin: auto;
      margin-top: 100px;
      background-color: #FF675B;
      border: none;
      padding: 14px 20px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #ff4b3c;
      }
    }
  }

}