@media screen and (max-width: 1650px) {
  .join-team-nolife-img {
    img:nth-child(1) {
      width: 300px !important;
      height: 300px !important;
      right: 350px !important;
    }
  
    img:nth-child(2) {
      width: 400px !important;
      height: 600px !important;
    }
  }

  .twitch-container {
    iframe {
      right: 350px !important;
    }
  }

  .banner-geek {
    h1 {
      font-size: 160px !important;
    }
  }

  .geek-container-avantages {
    flex-wrap: wrap;

    .avantages:nth-child(4) {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .container-streamers {
    gap: 50px !important;
  }

  .banner-geek h1 {
    margin-top: 200px;
  }
}

@media screen and (max-width: 1360px) {
  .container-streamers {
    gap: 50px !important;

    .streamers a{
      height: 350px !important;
      width: 250px !important;
    }
  }

  .twitch-container {
    iframe {
      right: 250px !important;
    }
  }

  .banner-geek h1 {
    margin-top: 150px;
  }
}